@use '../settings/colors';

/* Archivo con la finalidad de ser usado como doc */
:export {
  surfacePrimary: colors.$surface-primary;
  surfacePrimaryDarkMode: colors.$surface-primary-darkMode;
  surfaceSecondary: colors.$surface-secondary;
  surfaceSecondaryDarkMode: colors.$surface-secondary-darkMode;
  textPrimary: colors.$text-primary;
  textPrimaryDarkMode: colors.$text-primary-darkMode;
  textSecondary: colors.$text-secondary;
  textCaption: colors.$text-caption;
  textCaptionDarkMode: colors.$text-caption-darkMode;
  dividerBg: colors.$divider-bg;
  dividerBgDarkMode: colors.$divider-bg-darkMode;
  rowTableShadow: colors.$row-table-shadow;
  rowTableShadowDarkMode: colors.$row-table-shadow-darkMode;
  switchLabelPrimary: colors.$switch-label-primary;
  switchLabelPrimaryDarkMode: colors.$switch-label-primary-darkMode;
  switchBg: colors.$switch-bg;
  switchBgDarkMode: colors.$switch-bg-darkMode;
  switchPillBg: colors.$switch-pill-bg;
  switchPillBgDarkMode: colors.$switch-pill-bg-darkMode;
  sidebarBgPrimary: colors.$sidebar-bg-primary;
  sidebarBgPrimaryDarkMode: colors.$sidebar-bg-primary-darkMode;
  sidebarBgSecondary: colors.$sidebar-bg-secondary;
  sidebarBgSecondaryDarkMode: colors.$sidebar-bg-secondary-darkMode;
  progressbarIdle: colors.$progressbar-idle;
  progressbarLabelPrimaryActive: colors.$progressbar-label-primary-active;
  progressbarLabelPrimaryActiveDarkMode: colors.$progressbar-label-primary-active-darkMode;
  progressbarBgActive: colors.$progressbar-bg-active;
  progressbarBgActiveDarkMode: colors.$progressbar-bg-active-darkMode;
  closemessageLabel: colors.$closemessage-label;
  closemessageLabelDarkMode: colors.$closemessage-label-darkMode;
  closemessageBg: colors.$closemessage-bg;
  closemessageBgDarkMode: colors.$closemessage-bg-darkMode;
  dropdownLabelIdle: colors.$dropdown-label-idle;
  dropdownLabelActive: colors.$dropdown-label-active;
  dropdownLabelActiveDarkMode: colors.$dropdown-label-active-darkMode;
  dropdownBgIdle: colors.$dropdown-bg-idle;
  dropdownBgIdleDarkMode: colors.$dropdown-bg-idle-darkMode;
  dropdownBgActive: colors.$dropdown-bg-active;
  dropdownBgActiveDarkMode: colors.$dropdown-bg-active-darkMode;
  dropdownShade: colors.$dropdown-shade;
  dropdownShadeDarkMode: colors.$dropdown-shade-darkMode;
  dropdownTitle: colors.$dropdown-title;
  dropdownTitleDarkMode: colors.$dropdown-title-darkMode;
  kardexBgCompletedOrApproved: colors.$kardex-bg-completed-or-approved;
  kardexBgInprogress: colors.$kardex-bg-inprogress;
  kardexBgSpecial: colors.$kardex-bg-special;
  kardexBgSummercourse: colors.$kardex-bg-summercourse;
  kardexBgToChooseFrom: colors.$kardex-bg-to-choose-from;
  kardexBgDefaultColor: colors.$kardex-bg-default-color;
  kardexBgDefaultColorDarkMode: colors.$kardex-bg-default-color-darkMode;
  kardexBgAccreditedInRepetitionOrSummer: colors.$kardex-bg-accredited-in-repetition-or-summer;
  kardexBgRepetition: colors.$kardex-bg-repetition;
  kardexLabelPrimary: colors.$kardex-label-primary;
  kardexLabelSecondary: colors.$kardex-label-secondary;
  kardexLabelSecondaryDarkMode: colors.$kardex-label-secondary-darkMode;
  kardexBgFinalDrop: colors.$kardex-bg-final-drop;
  brand: colors.$brand;
  btnPrimary: colors.$btn-primary;
  btnPrimaryHover: colors.$btn-primary-hover;
}
