@use '../../settings/sizes' as s;

.switch {
  background: var(--neutral-2);
  border-radius: 1em;
  width: 100%;

  color: var(--text-secondary);

  &:hover {
    cursor: pointer;
  }
}

.switch-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px 4px 8px;
  gap: 8px;
  font-size: 13px;
}

@media (min-width: 768px) {
  .switch {
    width: 100%;
  }

  .switch-item {
    font-size: 15px;
  }
}

.switch-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  & > svg {
    width: 24px;
    height: 24px;
  }

  & > svg > path {
    fill: var(--text-secondary);
  }
}
.switch-item__text {
  font-weight: 600;
  letter-spacing: -0.01em;
}

.switch--active {
  background-color: var(--neutral-3);
  color: var(--text-primary);
  box-shadow: var(--box-shadow);
}

.switch.switch--active .switch-icon > svg > path {
  fill: var(--text-primary);
}
