@use '../../settings/sizes';

.container {
  padding: 24px;
  border-radius: 8px;
  background-color: var(--neutral-1);
  width: 100%;

  @media (min-width: sizes.$desktop) {
    margin-top: 24px;
  }
}
