@use '../settings/colors';
@use '../settings/sizes';
@use '../settings/typography';

:root {
  --text-primary: #{colors.$text-primary};
  --text-secondary: #{colors.$text-secondary};

  --bg: #{colors.$surface-primary};
  --bg-secondary: #{colors.$surface-secondary};
  --divider: #{colors.$divider-bg};

  --btn-primary-disabled: #{colors.$btn-primary-disabled};

  --btn-secondary-bg: #{colors.$btn-secondary};
  --btn-secondary-border: #{colors.$btn-secondary-border};
  --btn-secondary-hover: #{colors.$btn-secondary-hover};
  --btn-secondary-disabled: #{colors.$btn-secondary-disabled};
  --btn-text-disabled: #{colors.$btn-text-disabled};
  --btn-secondary-border-disabled: #{colors.$btn-secondary-border-disabled};

  --switch-bg: #{colors.$switch-bg};
  --switch-pill-bg: #{colors.$switch-pill-bg};
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-primary: #{colors.$text-primary-darkMode};
    --bg: #{colors.$surface-primary-darkMode};
    --bg-secondary: #{colors.$surface-secondary-darkMode};
    --divider: #{colors.$divider-bg-darkMode};

    --btn-secondary-bg: #{colors.$btn-secondary-darkMode};
    --btn-secondary-border: #{colors.$btn-secondary-border-darkMode};
    --btn-secondary-hover: #{colors.$btn-secondary-hover-darkMode};
    --btn-secondary-disabled: #{colors.$btn-secondary-disabled-darkMode};
    --btn-text-disabled: #{colors.$btn-text-disabled-darkMode};
    --btn-secondary-border-disabled: #{colors.$btn-secondary-border-disabled-darkMode};

    --switch-bg: #{colors.$switch-bg-darkMode};
    --switch-pill-bg: #{colors.$switch-pill-bg-darkMode};
  }
}

.light-theme {
  --text-primary: #{colors.$text-primary};
  --bg: #{colors.$surface-primary};
  --bg-secondary: #{colors.$surface-secondary};
  --divider: #{colors.$divider-bg};

  --btn-secondary-bg: #{colors.$btn-secondary};
  --btn-secondary-border: #{colors.$btn-secondary-border};
  --btn-secondary-hover: #{colors.$btn-secondary-hover};
  --btn-secondary-disabled: #{colors.$btn-secondary-disabled};
  --btn-text-disabled: #{colors.$btn-text-disabled};
  --btn-secondary-border-disabled: #{colors.$btn-secondary-border-disabled};

  --switch-bg: #{colors.$switch-bg};
  --switch-pill-bg: #{colors.$switch-pill-bg};
}

.dark-theme {
  --text-primary: #{colors.$text-primary-darkMode};
  --bg: #{colors.$surface-primary-darkMode};
  --bg-secondary: #{colors.$surface-secondary-darkMode};
  --divider: #{colors.$divider-bg-darkMode};

  --btn-secondary-bg: #{colors.$btn-secondary-darkMode};
  --btn-secondary-border: #{colors.$btn-secondary-border-darkMode};
  --btn-secondary-hover: #{colors.$btn-secondary-hover-darkMode};
  --btn-secondary-disabled: #{colors.$btn-secondary-disabled-darkMode};
  --btn-text-disabled: #{colors.$btn-text-disabled-darkMode};
  --btn-secondary-border-disabled: #{colors.$btn-secondary-border-disabled-darkMode};

  --switch-bg: #{colors.$switch-bg-darkMode};
  --switch-pill-bg: #{colors.$switch-pill-bg-darkMode};
}

.story-dark {
  background-color: colors.$surface-primary-darkMode;
  padding: 1rem;
}

.story-light {
  background-color: colors.$surface-primary;
  padding: 0.5rem;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 100%;
}

body {
  background-color: var(--bg);
  color: var(--text-primary);
}

svg > path {
  fill: var(--text-primary);
}
