@use '../settings/theming' as *;
@use '../settings/sizes';
@use '../settings/typography';

:root {
  @include theme-light;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include theme-dark;
  }
}

.light-theme {
  @include theme-light;
}

.dark-theme {
  @include theme-dark;
}

.story-dark {
  background-color: gray;
  padding: 1rem;
}

.story-light {
  background-color: whitesmoke;
  padding: 0.5rem;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 100%;
}

body {
  background-color: var(--neutral-2);
  color: var(--text-primary);
}

span {
  color: var(--text-secondary);
}

span > * {
  color: var(--text-primary);
}

svg {
  width: clamp(0.938rem, 0.777rem + 0.804vw, 1.5rem);
}
