@use '../settings/colors';
@use '../settings/sizes';
@use '../settings/typography';

:root {
  --neutral-1: #{colors.$neutral-01};
  --neutral-2: #{colors.$neutral-02};
  --neutral-3: #{colors.$neutral-03};
  --text-primary: #{colors.$neutral-06};
  --text-secondary: #{colors.$neutral-04};

  --primary: #{colors.$primary-01};
  --primary-2: #{colors.$primary-02};
  --primary-3: #{colors.$primary-03};
  --primary-4: #{colors.$primary-04};
  --box-shadow: #{colors.$box-shadow-lightMode};
}

@media (prefers-color-scheme: dark) {
  :root {
    --neutral-1: #{colors.$neutral-07};
    --neutral-2: #{colors.$neutral-08};
    --neutral-3: #{colors.$neutral-06};
    --text-primary: #{colors.$neutral-01};

    --box-shadow: #{colors.$box-shadow-darkMode};
  }
}

.light-theme {
  --neutral-1: #{colors.$neutral-01};
  --neutral-2: #{colors.$neutral-02};
  --neutral-3: #{colors.$neutral-03};
  --text-primary: #{colors.$neutral-06};
  --text-secondary: #{colors.$neutral-04};

  --primary: #{colors.$primary-01};
  --primary-2: #{colors.$primary-02};
  --primary-3: #{colors.$primary-03};
  --primary-4: #{colors.$primary-04};
  --box-shadow: #{colors.$box-shadow-lightMode};
}

.dark-theme {
  --neutral-1: #{colors.$neutral-07};
  --neutral-2: #{colors.$neutral-08};
  --neutral-3: #{colors.$neutral-06};
  --text-primary: #{colors.$neutral-01};
  --box-shadow: #{colors.$box-shadow-darkMode};
}

.story-dark {
  background-color: gray;
  padding: 1rem;
}

.story-light {
  background-color: whitesmoke;
  padding: 0.5rem;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
  font-size: 100%;
}

body {
  background-color: var(--neutral-2);
  color: var(--text-primary);
}

svg {
  width: clamp(0.938rem, 0.777rem + 0.804vw, 1.5rem);
}
