@use '../../settings/colors' as c;

.title__header {
  display: flex;
  gap: 16px;
  flex-direction: row-reverse;
  align-items: center;
}

.title__widget {
  min-width: 16px;
  min-height: 32px;
  border-radius: 4px;
}

.title__widget--1 {
  background-color: c.$secondary-01;
}

.title__widget--2 {
  background-color: c.$secondary-02;
}

.title__widget--3 {
  background-color: c.$secondary-03;
}

.title__widget--4 {
  background-color: c.$secondary-04;
}

.title__widget--5 {
  background-color: c.$secondary-05;
}
