@use '../../tools/typography' as mixins;

.heading {
  color: var(--text-primary);
  padding-left: 0;
}

.h1 {
  @include mixins.heading-01;
}

.h2 {
  @include mixins.heading-02;
}

.h3 {
  @include mixins.heading-03;
}

.h4 {
  @include mixins.heading-04;
}

.h5 {
  @include mixins.heading-05;
}

.legend {
  @include mixins.heading-02;
  font-weight: 600;
}

.title-1,
.title-1-medium,
.title-1-semi {
  font-size: 20px;
  line-height: 32px;
}

.title-1 {
  font-weight: 500;
}

.title-1-medium {
  font-weight: 600;
}

.title-1-semi {
  font-weight: 700;
}

.title-2 {
  font-size: 18px;
  line-height: 24px;
}
