@use '../../settings/colors';

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;

  padding: 12px 20px;
  border-radius: 12px;
  border-color: transparent;
  color: var(--text-primary);
  cursor: pointer;
  font-weight: bold;
}

.btn--primary {
  background-color: colors.$btn-primary;
  color: colors.$btn-primary-text;

  &:hover {
    background-color: colors.$btn-primary-hover;
  }
}

.btn--secondary {
  background-color: var(--btn-secondary-bg);
  border: 2px solid var(--btn-secondary-border);

  &:hover {
    background-color: var(--btn-secondary-hover);
  }
}

.btn--disabled {
  color: var(--btn-text-disabled);
}

.btn--primary.btn--disabled {
  background-color: var(--btn-primary-disabled);
}

.btn--secondary.btn--disabled {
  background-color: var(--btn-secondary-disabled);
  border-color: var(--btn-secondary-border-disabled);
}
