.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;

  padding: 12px 20px;
  border-radius: 12px;
  border-color: transparent;
  color: var(--text-primary);
  cursor: pointer;
  font-weight: bold;
  user-select: none;
}

.btn--primary {
  background-color: var(--primary);
  color: var(--text-primary);

  &:hover {
    background-color: var(--primary-01-75);
  }
}

.btn--secondary {
  background-color: var(--neutral-1);
  border: 2px solid var(--neutral-1);

  &:hover {
    background-color: var(--neutral-3);
  }
}

.btn--disabled {
  opacity: 0.75;
}
.btn--primary.btn--disabled {
  background-color: var(--primary-01-50);
}

.btn--secondary.btn--disabled {
  background-color: rgba(var(--neutral-1), 50%);
  border-color: rgba(var(--neutral-3), 50%);
}
