.btn__primary {
  display: inline-flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border-color: transparent;
  background: var(--Primary-01, #2a85ff);
}

.btn__secondary {
  display: inline-flex;
  padding: 12px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  border: 2px solid var(--Neutral-06, #272b30);
  background: var(--Neutral-07, #1a1d1f);
}
