.switch-container {
  display: flex;
  background-color: var(--neutral-2);
  border-radius: 2em;
  padding: 4px;
}

.switch-container-btn {
  background-color: var(--neutral-2);
  border-radius: 2em;
  padding: 4px;
  margin: 0 auto;
}
