.input-container {
  position: relative;
  display: flex;
  background-color: var(--neutral-3);
  outline: 1px solid transparent;
  border: 1px solid transparent;
  border-radius: 12px;
  height: 48px;
  padding: 0px 12px;
  gap: 0.5em;

  &:focus-within {
    border: 1px solid var(--primary-01-50);
    background-color: var(--neutral-2);
  }
}

.input {
  background-color: transparent;
  outline: 1px solid transparent;
  border: 1px solid transparent;
  border-radius: 12px;
  color: var(--text-primary);
  width: 100%;
  caret-color: var(--primary);
  padding-right: 1.2em;
  user-select: none;

  &::placeholder {
    font-weight: 600;
    color: var(--text-secondary);
  }

  &[type='password']::-ms-reveal {
    display: none;
  }
}

.input__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input__icon svg {
  min-width: 24px;
  min-height: 24px;
}

.input__reveal svg {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  min-width: 24px;
  min-height: 24px;

  &:hover {
    cursor: pointer;
  }
}
