$primary-01: #2a85ff;
$primary-02: #83bf6e;
$primary-03: #ff6a55;
$primary-04: #8e59ff;

$neutral-00: #ffffff;
$neutral-01: #fcfcfc;
$neutral-02: #f4f4f4;
$neutral-03: #efefef;
$neutral-04: #6f767e;
$neutral-05: #33383f;
$neutral-06: #272b30;
$neutral-07: #1a1d1f;
$neutral-08: #111315;

$shades-04-75: rgba(154, 159, 165, 1);
$shades-02-50: rgba(244, 244, 244, 0.5);
$shades-dark-04-50: rgba(111, 118, 126, 1);
$shades-dark-08-over-07-50: rgba(17, 19, 21, 0.5);
$shades-dark-04-40: rgba(111, 118, 126, 0.4);
$shades-dark-06-30: rgba(39, 43, 48, 0.3);

$secondary-01: rgba(255, 188, 153, 1);
$secondary-02: rgba(202, 189, 255, 1);
$secondary-03: rgba(177, 229, 252, 1);
$secondary-04: rgba(181, 228, 202, 1);
$secondary-05: rgba(255, 216, 141, 1);

$kardex-01: #ff7f00;
$kardex-02: #ffd300;
$kardex-03: #ff00f5;
$kardex-04: #d10c0c;
$kardex-05: #4fb5ff;
$kardex-06: #adaaaa;
$kardex-07: #010038;

$box-shadow-lightMode:
  0px -2px 1px 0px rgba(0, 0, 0, 0.05) inset,
  0px 1px 1px 0px #fff inset;
$box-shadow-darkMode:
  0px -2px 1px 0px rgba(0, 0, 0, 0.4) inset,
  0px 1px 1px 0px rgba(255, 255, 255, 0.11) inset;
