// Heading sizes

$h1: 64px;
$h1-lh: 64px;
$h2: 48px;
$h2-lh: 48px;
$h3: 40px;
$h3-lh: 48px;
$h4: 32px;
$h4-lh: 40px;
$h5: 24px;
$h5-lh: 32px;

// Titles

// Body sizes
$b-regular: 15px/24px;
$b-bold: 700 15px/24px;
