// Heading sizes

$h1: 64px;
$h1-lh: 64px;
$h2: 48px;
$h2-lh: 48px;
$h3: 40px;
$h3-lh: 48px;
$h4: 32px;
$h4-lh: 40px;
$h5: 24px;
$h5-lh: 32px;

// Titles sizes
$title-01-semi: 20px;
$title-01-medium: 20px;
$title-01-semi-mobile: 18px;
$title-01-lh: 32px;
$title-02: 600 18px/24px;

// Base sizes
$base-01-semi-weight: 500;
$base-01-semi-size: 15px;
$base-01-semi-line-height: 24px;

$base-01-bold-weight: 800;
$base-01-bold-size: 15px;
$base-01-bold-line-height: 24px;

$base-02-semi-weight: 600;
$base-02-semi-size: 14px;
$base-02-semi-line-height: 24px;

// Body sizes
$body-01-medium-weight: 500;
$body-01-medium-size: 15px;
$body-01-medium-line-height: 24px;

$body-01-semi-weight: 600;
$body-01-semi-size: 15px;
$body-01-semi-line-height: 24px;

$body-02-semi-weight: 600;
$body-02-semi-size: 14px;
$body-02-semi-line-height: 24px;

// Caption sizes
$caption-01-semi-weight: 600;
$caption-01-semi-size: 13px;
$caption-01-semi-line-height: 16px;

$caption-01-medium-weight: 500;
$caption-01-medium-size: 13px;
$caption-01-medium-line-height: 16px;

$caption-02-bold-weight: 700;
$caption-02-bold-size: 12px;
$caption-02-bold-line-height: 16px;

$caption-02-medium-weight: 500;
$caption-02-medium-size: 12px;
$caption-02-medium-line-height: 16px;

// btn sizes
$btn-01: 700 15px/24px;
$btn-02: 700 13px/24px;
