@use '../settings/typography' as t;

@mixin heading-01() {
  font-size: clamp(t.$h2, 2.652rem + 1.495vw, t.$h1);
  line-height: clamp(t.$h2-lh, 2.652rem + 1.495vw, t.$h1-lh);
}

@mixin heading-02() {
  font-size: clamp(t.$h3, 2.326rem + 0.748vw, t.$h2);
  line-height: t.$h2-lh;
}

@mixin heading-03() {
  font-size: clamp(t.$h4, 1.826rem + 0.748vw, t.$h3);
  line-height: clamp(t.$h4-lh, 2.327rem + 0.748vw, t.$h3-lh);
}

@mixin heading-04() {
  font-size: clamp(t.$h5, 1.327rem + 0.748vw, t.$h4);
  line-height: clamp(t.$h5-lh, 1.827rem + 0.748vw, t.$h4-lh);
}
